In [1]:
import pandas as pd

In [2]:
fold = 0
n_iter = 4078
root_dir = '../output/paper_reprod_val2/faster_rcnn_R_50_FPN_3x'

list_df = []

for fold in range(8):
    path = f'{root_dir}/mbg_train{fold}_tire/tire_faster_rcnn_R_50_FPN_1x_model_{n_iter:07d}_val{fold}.csv'
    df = pd.read_csv(path)
    list_df.append(df)

In [3]:
sum_tp = list_df[1]['TP']
sum_fp = list_df[1]['FP']
sum_fn = list_df[1]['FN']

for fold in range(2,8):
    sum_tp += list_df[fold]['TP']
    sum_fp += list_df[fold]['FP']
    sum_fn += list_df[fold]['FN']

In [4]:
overall_pr = sum_tp / (sum_tp + sum_fp )
overall_pr

0     0.186684
1     0.209480
2     0.249057
3     0.267974
4     0.290954
5     0.322404
6     0.347692
7     0.372414
8     0.419608
9     0.495000
10    0.692308
dtype: float64

In [5]:
overall_rc = sum_tp / (sum_tp + sum_fn)
overall_rc

0     0.355721
1     0.340796
2     0.328358
3     0.305970
4     0.296020
5     0.293532
6     0.281095
7     0.268657
8     0.266169
9     0.246269
10    0.156716
dtype: float64

In [6]:
overall_f1 = (2*overall_pr * overall_rc)/(overall_pr + overall_rc)
overall_f1

0     0.244863
1     0.259470
2     0.283262
3     0.285714
4     0.293465
5     0.307292
6     0.310867
7     0.312139
8     0.325723
9     0.328904
10    0.255578
dtype: float64

In [7]:
import numpy as np

overall_df = pd.DataFrame([list_df[1]['score'], overall_pr, overall_rc, overall_f1]).T
overall_df = np.round(overall_df, decimals=2)
overall_df.columns = ['score', 'Pr', 'Rc', 'F1']

overall_df

    score    Pr    Rc    F1
0    0.05  0.19  0.36  0.24
1    0.10  0.21  0.34  0.26
2    0.20  0.25  0.33  0.28
3    0.30  0.27  0.31  0.29
4    0.40  0.29  0.30  0.29
5    0.50  0.32  0.29  0.31
6    0.60  0.35  0.28  0.31
7    0.70  0.37  0.27  0.31
8    0.80  0.42  0.27  0.33
9    0.90  0.50  0.25  0.33
10   0.99  0.69  0.16  0.26